
/* banner */
.banner {
  margin-top: 140px;
  color: #21243D;
  font-family: "Heebo", sans-serif;
  align-items: center;
}
.banner-info {
  width: 506px;
  float: left;
}
.banner-info h1 {
  font-size: 44px;
  line-height: 60px;
  font-style: normal;
  font-weight: 700;
}
.banner-info p, .feature-content{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
}
.banner-info button {
  background-color: #FF6464;
  border-radius: 2px;
  color: #fff;
  padding: 13px 20px;
  margin-top: 104px;
  border: none;
}
.banner-img {
  float: right;
}

/* posts */
.posts {
  background-color: #EDF7FA;
  font-family: "Heebo", sans-serif;
  color: #21243D;
  margin-top: 70px;
  padding-bottom: 7px;
  height: auto;
  padding-bottom: 20px;
}
.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.posts-header h4, .features h4 {
  font-style: normal;
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
}
.posts-header a {
  color: #00A8CC;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.news {
  display: flex;
  justify-content: space-between;
}
.post {
  background: #FFFFFF; 
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25); border-radius: 4px;
  padding-top: 24px;
  padding-left: 23px;
  padding-right: 21px;
  width: 48%;
  height: auto;
  font-style: normal;
}
.post h2 {
  font-size: 26px;
  line-height: 38px;
  font-weight: 700;
}
.post p.time {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 17px;
}
.post p.post-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 11px;
}

/* features */
.features {
  color: #21243D;
  font-style: normal;
  font-family: "Heebo", sans-serif;
}

.feature-item {
  display: flex;
  align-items: center;
  padding-top: 30px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
}
.features-info {
  width: 594px;
  margin-left: 20px;
}
.feature-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}
span.year {
  background-color: #142850;
  border-radius: 16px;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  font-weight: 900;
  padding: 5px;
}
.type {
  color: #8695A4;
  font-size: 20px;
  line-height: 29px;
  font-weight: 400;
  margin-left: 26px;
}

/* footer */

@media only screen and (max-width: 480px) {
  
  .banner {
    display: block;
    text-align: center;
    width: 100%;
  }
  .banner-info {
    width: 100%;
  }
  .banner-img {
    width: 171px;
    margin-right: 150px;
  }
  .banner-info h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .posts-header h4{
    margin-left: 125px;
  }
  .posts-header a {
    display: none;
  }
  .news {
    display: block;
    padding-bottom: 38px;
  }
  .news .post {
    width: 390px;
    height: auto;
    margin-left: 11px;
    margin-top: 17px;
  }
  .post h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .post p.time, p.post-info  {
    font-size: 16px;
    line-height: 24px;
  }
  .features {
    margin-left: 18px;
    width: 400px;
  }
  .features h4{
    margin-left: 100px;
  }
  .feature-content {
    width: 400px;
  }
  .feature-item {
    display: block;
    width: 400px;
    padding-bottom: 17px;
  }
  .features-info {
    width: 400px;
  }
  .feature-item p.feature-content {
    width: 350px;
  }
  .feature-item:nth-child(2), .feature-item:nth-child(3) {
    display: none;
  }
  .feature-title {
    font-size: 24px;
    line-height: 30px;
  } 
  
}
